body {
    min-width: 900px;
    font-size: 16px;
    line-height: 22px;
    color: #283136;
    font-family: "Roboto", "Arial", sans-serif;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-nerds";
  src: url("../fonts/symbols-nerds.woff") format("woff"),
       url("../fonts/symbols-nerds.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block; /*Не знаю, можно ли добавлять сюда vertical-align*/
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
                        /*На все строчно-блочные элементы, касающиеся иконочных шрифтов, проставлен vertical-align*/
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-nerds";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */


h1 {
    font-size: 36px;
    line-height: 36px;
    color: #000000;
    font-weight: 500;
}

h3 {
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    font-weight: 500;
}

b {
    font-size: 16px;
    line-height: 22px;
    color: #283136;
    font-weight: 500;
}

.clearfix::after {
    content: "";
    
    display: table;
    clear: both;
}

.container {
    width: 880px;
    padding: 0 10px;
    margin: 0 auto;
}
/*Хэдер*/
.main-header {
    color: #000000;
    
    background-color: #eeeeee;
}

.nerds-logo {
    float: left;
    position: relative;
    width: 139px;
    height: 56px;
    top: 28px;
    left: 1px;
}

.nerds-logo img {
    width: 139px;
    height: 56px;
}

.main-navigation {
    float: left;
    
    /*Оформление сеток*/
    min-height: 85px;
}

.main-navigation ul {
    position: relative;
    padding: 0;
    margin: 0;
    top: 55px;
    left: 0px;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    
    font-size: 14px;
    line-height: 30px;
    vertical-align: top;
}

.main-navigation a {
    display: block;
    margin-right: 46px;
    
    color: #000000;
    text-decoration: none;
}

.main-navigation li:first-child {
    margin-left: 183px;
}

.main-navigation a:hover {
    color: #fb565a;
}

.main-navigation a:active {
    color: #8f8f8f;
}

.main-navigation .active {
    position: relative;
    
    background-color: none;
}

.main-navigation .active::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 46px;
    left: 0px;
    height: 2px;
    
    background-color: #fb565a;
}

.active span {
    display: block;
    margin-right: 46px;
}

.active a:hover {
    color: #000000;
}

.cart-block {
    float: right;
    width: 100px;
    
    /*Оформление сеток*/
    min-height: 85px;
}

.cart {
    position: absolute;
    
    display: inline-block;
    margin-top: 55px;
    padding-left: 35px;
    
    font-size: 14px;
    line-height: 30px;
    vertical-align: top;
    color: #000000;
    text-decoration: none;
}

.cart:hover {
    color: #fb565a;
}

.cart:active {
    color: #8f8f8f;
}

.cart span {
    position: absolute;
    top: -2px;
    left: 4px;
    font-size: 16px;
    line-height: 30px;
    opacity: 0.3;
}

.cart:hover span {
    opacity: 1;
}

.cart:active span {
    opacity: 0.25;
}
/*Catalog Хэдер*/
/*Index Хэдер будет ниже*/
.head {
    display: block;
    
    text-align: center;
    min-height: 176px;
    margin-top: 69px;
    margin-bottom: 81px;
}

.head h1 {
    display: block;
    font-size: 40px;
    line-height: 46px;
}
/*Catalog Форма*/
.block-form {
    float: left;
    
    width: 240px;
    margin-top: -5px;
    margin-right: 80px;
}

.range-filter {
    width: 240px;
    margin-bottom: 47px;
}

.range-controls {
    position: relative;
    
    height: 41px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    margin-bottom: 14px;
    
    border-radius: 5px;
    background-color: #f1f1f1;
}

.range-controls .scale {
    height: 2px;
    
    background-color: #d7dcde;
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    
    background-color: #00ca74;
}

.range-controls .toggle {
    position: absolute;
    top: 30px;
    left: 0px;
    width: 4px;
    height: 4px;
    
    border: 8px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
    background-color: #ababab;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .min-toggle {
    left: 20px;
}

.range-controls .max-toggle {
    left: 160px;
}

.price-controls {
    font-size: 0;
}

.price-controls label {
    display: inline-block;
    width: 50%;
    font-size: 16px;
    
    vertical-align: top;
}

.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin-left: 10px;
    
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    text-align: center;
    
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #f1f1f1;
    color: #283136;
}

.max-price {
    text-align: right;
}

.block-grid {
    margin-bottom: 46px;
}

.block-grid h3 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: -4px;
}

.block-form input[type="radio"] {
    display: none;
}

input[type="radio"] + label {
    display: block;
    position: relative;
    margin: 25px 0;
    
    font-size: 16px;
    line-height: 20px;
    
    padding-left: 36px;
    
    cursor: pointer;
    color: #283136;
}

input[type="radio"] + label::before {
    content: "\25cb";
    
    position: absolute;
    top: 0;
    left: 0;
    
    width: 25px;
    height: 25px;
    
    font-family: "symbols-nerds";
    font-size: 28px;
    color: #c1c1c1;
}

input[type="radio"]:checked + label::before {
    content: "\25cf";
}

input[type="radio"] + label:hover {
    color: #000000;
}

input[type="radio"]:hover + label::before {
    content: "\25cb";
    
    position: absolute;
    top: 0;
    left: 0;
    
    width: 25px;
    height: 25px;
    
    font-family: "symbols-nerds";
    font-size: 28px;
    color: #b5b5b5;
}

input[type="radio"]:checked:hover + label::before {
    content: "\25cf";
    
    color: #b5b5b5;
}

.block-features {
    margin-bottom: 57px;
}

.block-features h3 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: -8px;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: block;
    position: relative;
    margin: 29px 0;
    
    font-size: 16px;
    line-height: 20px;
    
    padding-left: 36px;
    
    cursor: pointer;
    color: #283136;
}

input[type="checkbox"] + label::before {
    content: "\2610";
    position: absolute;
    top: 0;
    left: 0;
    
    width: 23px;
    height: 23px;
    
    font-size: 28px;
    font-family: "symbols-nerds";
    color: #c1c1c1;
}

input[type="checkbox"]:hover + label {
    color: #000000;
}

input[type="checkbox"]:hover + label::before {
    content: "\2610";
    position: absolute;
    top: 0;
    left: 0;
    
    width: 23px;
    height: 23px;
    
    font-size: 28px;
    font-family: "symbols-nerds";
    color: #b5b5b5;
}

input[type="checkbox"]:checked + label::before {
    content: "\2611";
}

input[type="checkbox"]:checked:hover + label::before {
    content: "\2611";
    
    color: #b5b5b5;
}
/*Catalog Сетка макетов*/
.container-catalog {
    float: right;
    
    padding-top: 18px;
    width: 560px;
}
/*Catalog Сортировка*/
.sort {
    margin-bottom: 23px;
    font-size: 12px;
    line-height: 18px;
}

.sort b {
    display: inline-block;
    margin-right: 41px;
    
    font-size: 12px;
    line-height: 18px;
    
    vertical-align: top;
}

.sort-btn {
    padding: 0;
    margin-right: 46px;
    border: none;
    background: none;
    border-bottom: 1px dotted #00ca74;
    color: #cacaca;
    outline: none;
}

.sort-btn:hover {
    color: #000000;
    border-bottom: 1px solid #00ca74;
}

.sort-btn:active {
    color: #000000;
    border-bottom: none;
    outline: none;
}

.by-function {
    margin-right: 75px;
}

.sort-dir {
    float: right;
    position: relative;
    
    width: 28px;
    height: 10px;
    margin-top: 4px;
}

.sort-down::before {
    content: "\25bc";
    position: absolute;
    top: -5px;
    left: -7px;
    
    font-size: 18px;
    
    cursor: pointer;
    color: #c1c1c1;
}

.sort-down:hover::before {
    color: #000000;
}

.sort-down:active::before {
    color: #00ca74;
}

.sort-up::before {
    content: "\25b2";
    position: absolute;
    top: -5px;
    left: 11px;
    
    font-size: 18px;
    
    cursor: pointer;
    color: #c1c1c1;
}

.sort-up:hover::before {
    color: #000000;
}

.sort-up:active::before {
    color: #00ca74;
}
/*Catalog Слайдер изображений макетов*/


.triple-slider {
    position: relative;
    width: 240px;
    height: 30px;
    top: px;
    background-image: url(../img/browser.jpg);
    background-repeat: no-repeat;
    opacity: 0.1;
}
/*background макетов*/
.aviator .lay-block {
    height: 240px;
    background-color: #765136;
}

.sunset .lay-block {
    height: 240px;
    background-color: #fcf7da;
}

.forte .lay-block {
    height: 240px;
    background-color: #cbdee2;
}

.modern-organic .lay-block {
    height: 240px;
    background-color: #6e2202;
}

.avenue .lay-block {
    height: 240px;
    background-color: #d4d8dc;
}

.dovetail .lay-block {
    height: 240px;
    background-color: #f7f4e8;
}

/*Catalog Авиатор*/
.aviator {
    float: left;
    position: relative;
    
    width: 240px;
    height: 270px;
    
    margin-top: px;
    margin-right: 80px;
    margin-bottom: 80px;
}

.aviator-info {
    display: none;
    position: absolute;
    top: 50px;
    left: 20px;
    
    width: 200px;
    height: 200px;
    
    text-align: center;
    background-color: #ffffff;
}

.aviator-info h3 {
    font-size: 18px;
    line-height: 18px;
    margin-top: 36px;
    margin-bottom: 18px;
}

.aviator-info p {
    width: 200px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 28px;
}

.aviator:hover .aviator-info {
    display: block;
}

.aviator:hover .triple-slider {
    opacity: 1;
}
/*Catalog Сансет*/
.sunset {
    float: right;
    position: relative;
    
    width: 240px;
    height: 270px;
    
    margin-bottom: 80px;
}

.sunset-info {
    display: none;
    position: absolute;
    top: 50px;
    left: 20px;
    
    width: 200px;
    height: 200px;
    
    text-align: center;
    background-color: #ffffff;
}

.sunset-info h3 {
    font-size: 18px;
    line-height: 18px;
    margin-top: 36px;
    margin-bottom: 18px;
}

.sunset-info p {
    width: 200px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 28px;
}

.sunset:hover .sunset-info {
    display: block;
}

.sunset:hover .triple-slider {
    opacity: 1;
}
/*Catalog Форте*/
.forte {
    float: left;
    position: relative;
    
    width: 240px;
    height: 270px;
    
    margin-right: 80px;
    margin-bottom: 80px;
}

.forte-info {
    display: none;
    position: absolute;
    top: 50px;
    left: 20px;
    
    width: 200px;
    height: 200px;
    
    text-align: center;
    background-color: #ffffff;
}

.forte-info h3 {
    font-size: 18px;
    line-height: 18px;
    margin-top: 36px;
    margin-bottom: 18px;
}

.forte-info p {
    width: 200px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 28px;
}

.forte:hover .forte-info {
    display: block;
}

.forte:hover .triple-slider {
    opacity: 1;
}
/*Catalog Модерн Органик*/
.modern-organic {
    float: right;
    position: relative;
    
    width: 240px;
    height: 270px;
    
    margin-bottom: 80px;
}

.modern-org-info {
    display: none;
    position: absolute;
    top: 50px;
    left: 20px;
    
    width: 200px;
    height: 200px;
    
    text-align: center;
    background-color: #ffffff;
}

.modern-org-info h3 {
    font-size: 18px;
    line-height: 24px;
    margin-top: 36px;
}

.modern-org-info p {
    width: 200px;
    font-size: 14px;
    line-height: 18px;
    margin-top: -13px;
    margin-bottom: 14px;
}

.modern-organic:hover .modern-org-info {
    display: block;
}

.modern-organic:hover .triple-slider {
    opacity: 1;
}
/*Catalog Авеню*/
.avenue {
    float: left;
    position: relative;
    
    width: 240px;
    height: 270px;
    
    margin-right: 80px;
    margin-bottom: 80px;
}

.avenue-info {
    display: none;
    position: absolute;
    top: 50px;
    left: 20px;
    
    width: 200px;
    height: 200px;
    
    text-align: center;
    background-color: #ffffff;
}

.avenue-info h3 {
    font-size: 18px;
    line-height: 18px;
    margin-top: 36px;
    margin-bottom: 18px;
}

.avenue-info p {
    width: 200px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 28px;
}

.avenue:hover .avenue-info {
    display: block;
}

.avenue:hover .triple-slider {
    opacity: 1;
}
/*Catalog Давтейл*/
.dovetail {
    float: right;
    position: relative;
    
    width: 240px;
    height: 270px;
}

.dovetail-info {
    display: none;
    position: absolute;
    top: 50px;
    left: 20px;
    
    width: 200px;
    height: 200px;
    
    text-align: center;
    background-color: #ffffff;
}

.dovetail-info h3 {
    font-size: 18px;
    line-height: 18px;
    margin-top: 36px;
    margin-bottom: 18px;
}

.dovetail-info p {
    width: 200px;
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 28px;
}

.dovetail:hover .dovetail-info {
    display: block;
}

.dovetail:hover .triple-slider {
    opacity: 1;
}
/*Catalog Переключатели страниц*/
.pages {
    clear: both;
    
    width: 320px;
    margin-bottom: -6px;
}
/*Catalog Страницы*/
.page {
    display: inline-block;
    min-width: 38px;
    height: 38px;
    margin-right: 10px;
  
    font-size: 12px;
    line-height: 38px;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
  
    border-radius: 3px;
    color: #000000;
    background-color: #f1f1f1;
}

.page:hover {
    background-color: #e5e5e5;
}

.page:active {
    box-shadow: inset 0 3px 0 0 #b5b5b5;
    background-color: #d5d5d5;
}

.page:first-child {
    width: 34px;
    height: 34px;
    line-height: 34px;
    background-color: #ffffff;
    border: 2px solid #f2f2f2;
}

.page:last-child {
    padding-left: 32px;
    padding-right: 32px;
    margin-right: 0;
}
/*Index Блок-Слайдер в хэдере*/
.slider {
    position: relative;
    padding-top: 49px;
    width: 880px;
    margin: 0 auto;
    margin-bottom: 80px;
    
    background-color: #eeeeee;
}

.slide {
    min-height: 310px;
    
    background-repeat: no-repeat;
    background-position: 100% 10px;
}

.slider input[type="radio"] {
    display: none;
}

.slider-controls {
    position: absolute;
    bottom: 95px;
    left: 50%;
    
    width: 200px;
    margin-left: -100px;
    
    text-align: center;
}

.slider-controls label {
    display: inline-block;
    width: 4px;
    height: 4px;
    margin: 0 3px;
    
    vertical-align: top;
    
    background-color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

.slide-text {
    width: 500px;
    padding: 30px 0;
}

.slide-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 36px;
}

.slide p {
    font-weight: 500;
    line-height: 22px;
    color: #283136;
}

.slide:nth-child(1) {
    background-image: url(../img/technique_first_slide.png);
}

.slide:nth-child(2) {
    background-image: url(../img/calc_second_slider.png);
}

.slide:nth-child(3) {
    background-image: url(../img/robo_third_slider.png);
}

.slide {
    display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background-color: #c1c1c1;
}
/*Стилизация кнопок и ссылок*/
.btn {
    display: inline-block;
    padding: 12px 0;
    font-size: 12px;
    line-height: 18px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 300;
    color: #ffffff;
    
    vertical-align: top;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
}

.block-form .btn-show {
    padding-left: 47px;
    padding-right: 47px;
    color: #000000;
    background-color: #f1f1f1;
    font-weight: 600;
}

.block-form .btn-show:hover {
    background-color: #e5e5e5;
}

.block-form .btn-show:active {
    box-shadow: inset 0 3px 0 0 #b5b5b5;
    background-color: #d5d5d5;
}

.more-btn {
    background-color: #fb565a;
    padding-left: 70px;
    padding-right: 70px;
    /*Color*/
    color: #ffffff;
}

.more-btn:hover {
    background-color: #d6494d;
}

.more-btn:active {
    box-shadow: inset 0 3px 0 0 #9b2d30;
    background-color: #b63538;
}
/*Кнопка с покупкой в Catalog*/
.btn-buy {
    padding-left: 41px;
    padding-right: 38px;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 18px;
    background-color: #fb565a;
    border-radius: 3px;
}

.btn-buy:hover {
    background-color: #d6494d;
}

.btn-buy:active {
    box-shadow: inset 0 3px 0 0 #9b2d30;
    background-color: #b63538;
}
/*Index Блок с предложениями*/
.orders-block {
    margin-bottom: 80px;
}

.order {
    float: left;
    
    width: 240px;
    margin-right: 80px;
}

.img-order {
    width: 240px;
    height: 124px;
    margin-bottom: 26px;
}

.order:nth-child(1) .img-order {
    background-color: #fb565a;
}

.order:nth-child(2) .img-order {
    background-color: #00ca74;
}

.order:nth-child(3) .img-order {
    background-color: #efc84a;
}

.img-order img {
    width: 240px;
    height: 124px;
}

.order h3 {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 18px;
}

.order p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 28px;
}

.order:last-child {
    margin-right: 0;
}

.order .btn {
    padding-left: 40px;
    padding-right: 40px;
}

.book-web {
    background-color: #fb565a;
}

.book-web:hover {
    background-color: #d6494d;
}

.book-web:active {
    background-color: #b63538;
    box-shadow: inset 0 3px 0 0 #9b2d30;
}

.book-app {
    background-color: #00ca74;
}

.book-app:hover {
    background-color: #01a25e;
}

.book-app:active {
    background-color: #009053;
    box-shadow: inset 0 3px 0 0 #007b47;
}

.book-present {
    background-color: #efc84a;
}

.book-present:hover {
    background-color: #d6ae2c;
}

.book-present:active {
    background-color: #c09b24;
    box-shadow: inset 0 3px 0 0 #a3841f;
}
/*Index Разделительная линия*/
hr {
    border: none;
    color: #eeeeee;
    background-color: #eeeeee;
    height: 2px;
}

.line-orders {
    margin-bottom: 59px;
}
/*Index Блок с основной информацией сайта*/
.info-nerds {
    min-height: 550px;
    margin-bottom: 31px;
}

.info-main {
    float: left;
    
    width: 621px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.info-main h1 {
    font-size: 36px;
    line-height: 36px;
    margin-top: 13px;
    margin-bottom: 20px;
}

.info-main p {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 46px;
}

.ord-info {
    height: 173px;
    padding-bottom: 17px;
}

.index-list-title {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 27px;
    text-transform: uppercase;
}

.index-list {
    padding: 0;
    margin: 27px 0;
    list-style: none;
}

.index-list li {
    position: relative;
    
    margin-bottom: 27px;
    padding-left: 37px;
}

.index-list li::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    
    width: 25px;
    height: 2px;
    
    background-color: #fb565a;
}

.working-block {
    float: right;
    
    width: 240px;
    margin-bottom: 50px;
}

.logo-main {
    margin: 0 auto;
    width: 187px;
    height: 75px;
    margin-bottom: 31px;
}

.logo-main img {
    width: 187px;
    height: 75px;
}

.since-block {
    margin-bottom: 65px;
    
    text-align: center;
}

.since-block b {
    position: relative;
    z-index: 2;
    
    display: inline;
    margin: 0;
    padding: 0 15px;
    margin-bottom: 67px;
    
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    
    background: #ffffff;
}

.since-block::after {
    content: "";
    position: relative;
    top: -11px;
    z-index: 1;
    
    display: block;
    
    border-bottom: 2px solid #eeeeee;
}

.work-style {
    height: 173px;
    padding-bottom: 17px;
}
/*Index Разделительная линия*/
.line-main {
    clear: both;
    
    margin-bottom: 46px;
}
/*Index Блок с партнерами*/
.partners {
    min-height: 91px;
}

.partner {
    float: left;
    
    width: 220px;
    margin-right: 100px;
  
    opacity: 0.2;
}

.partners a:hover {
    opacity: 1;
}

.partners a:active {
    opacity: 1;
}

.partner:nth-child(1) { /*23 top*/
    margin-top: 23px;
    margin-left: 12px;
}

.partner:nth-child(2) {
    margin-top: 10px;
}

.partner:last-child {
    margin-right: 0;
}
/*Index и Catalog Футер*/
.main-footer {
    position: relative;
    
    margin-top: 85px;
    
    min-height: 632px;
}

.map {
    width: 100%;
    min-height: 416px;
    max-width: 1199px;
    margin: 0 auto;
    z-index: -1;
    background-color: #b5b5b5;
    background-image: url(../img/map.jpg);
    background-position: center;
}

.footer-contacts {
    position: absolute;
    top: 88px;
    width: 250px;
    min-height: 240px;
    margin-bottom: 89px;
    background-color: #ffffff;
}

.footer-contacts b {
    display: inline-block;
    margin-left: 19px;
    margin-top: 27px;
  
    vertical-align: top;
}

.footer-contacts b {
    font-size: 16px;
    line-height: 30px;
}

.footer-contacts p {
    margin-left: 21px;
    margin-top: 17px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 20px;
    color: #666666;
}

.footer-contacts p:nth-child(3) {
    margin-top: 24px;
}

.link-us {
    padding-left: 54px;;
    padding-right: 55px;
    margin-left: 23px;
    margin-bottom: 26px;
    background-color: #fb565a;
}

.link-us:hover {
    background-color: #d6494d;
}

.link-us:active {
    box-shadow: inset 0 3px 0 0 #9b2d30;
    background-color: #b63538;
}

.footer-social {
    position: absolute;
    top: 494px;
    min-height: 139px;
}
/*Стилизация ссылок в футере*/
.links {
    float: left;
    
    min-width: 240px;
    margin-left: 1px;
}

.btn-social {
    display: inline-block;
    position: relative;
    width: 61px;
    height: 61px;
    margin-right: 28px;
    text-align: center;
    vertical-align: top;
    font-size: 0;
    border-radius: 50%;
    
    text-decoration: none;
    color: #ffffff;
    background-color: #e1e1e1;
}

.btn-social:last-child {
    margin-right: 0;
}

.btn-social:hover {
    background-color: #fb565a;
}

.btn-social:active {
    background-color: #d6494d;
    box-shadow: inset 0 3px 0 0 #b63e42;
}

.btn-social span {
    font-size: 23px;
    line-height: 61px;
}
/*Блок с акцией в футере*/
.friendship {
    float: right;
    
    margin-left: 72px;
    
    width: 560px;
}

.friendship b {
    font-size: 36px;
    line-height: 36px;
}

.friendship p {
    font-size: 16px;
    line-height: 22px;
    margin-top: 11px;
}
/*Всплывающий блок отправки письма*/
@keyframes move-block {
    0% {
        transform: translateY(-335px);
    }
    100% {
        transform: translateY(0);
    }
}

.modal-content {
    position: absolute;
    top: -34px;
    left: 50%;
    
    display: none;
    width: 460px;
    margin-left: -315px;
    padding: 55px 90px 50px 80px;
  
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 15px 65px 0 rgba(0, 1, 1, 0.75);
}

.modal-content-show {
    display: block;
    animation-name: move-block;
    animation-duration: 0.5s;
}

.modal-content-close {
    position: absolute;
    top: 6px;
    right: 6px;
    
    width: 41px;
    height: 41px;
    
    font-size: 0;
    
    background-color: #fb565a;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 50px;
}

.modal-content-close::before,
.modal-content-close::after {
    content: "";
    position: absolute;
    top: 18px;
    right: 7px;
    
    width: 27px;
    height: 5px;
    
    background-color: #ffffff;
    border-radius: 1px;
}

.modal-content-close::before {
    transform: rotate(45deg);
}

.modal-content-close::after {
    transform: rotate(-45deg);
}

.modal-content .name-p {
    margin: 0;
    margin-bottom: 12px;
    
    font-size: 16px;
    line-height: 18px;
}

.modal-content .email-p {
    margin: 0;
    margin-bottom: 12px;
    
    font-size: 16px;
    line-height: 18px;
}

.modal-content .text-p {
    margin: 0;
    margin-top: 22px;
    margin-bottom: 12px;
    
    font-size: 16px;
    line-height: 18px;
}

.message-form input[type="text"] {
    width: 188px;
    padding: 9px 14px;
    margin-right: 20px;
    
    font-size: 12px;
    line-height: 18px;
    font-family: "Roboto", "Arial", sans-serif;
    text-transform: uppercase;
    color: #000000;
    
    border: 2px solid #d7dcde;
    border-radius: 3px;
    outline: none;
}

.email-block {
    float: right;
}

.email-block input[type="text"] {
    margin-right: 0;
}

.message-form input::-webkit-input-placeholder {
    color: #000000;
}

.name-block,
.email-block {
    display: inline-block;
  
  vertical-align: top;
}

.message-form textarea {
    width: 428px;
    padding: 9px 14px;
    
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
    
    border: 2px solid #d7dcde;
    border-radius: 3px;
    outline: none;
}

.message-form textarea::-webkit-input-placeholder {
    color: #000000;
}

.text-block {
    margin-bottom: 20px;
}

.message-form input:hover {
    border-color: #a2a9ac;
}

.message-form textarea:hover {
    border-color: #a2a9ac;
}

.message-form input:focus {
    border-color: #56bffb;
}

.message-form textarea:focus {
    border-color: #56bffb;
}

.modal-content .btn {
    padding-left: 196px;
    padding-right: 195px;
    background-color: #fb565a;
}

.modal-content .btn:hover {
    background-color: #d6494d;
}

.modal-content .btn:active {
    box-shadow: inset 0 3px 0 0 #9b2d30;
    background-color: #b63538;
}
